<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noms</title>
</head>
<body>
    {% extends 'base.html' %} {% block content %}
    <h1 class="title is-2">What is NOMS?!?!?</h1>
    <hr />
    <h4 class="is-size-5">The easy food tracking app for beginners to experts. We here at Noms what to promote healthy eating for everyone!
         Lets be honest healthy eating can be so HARD. 
         Their are so many different ways to track your eating habits and it gets overwhelming fast. 
         Which one do I use? Do I need to buy a scale? 
         Do I need to do research? The questions will keep piling up and intimidate people to even try. 
    </h4>

    <h4 class="is-size-5">
        Here at NOMS we want to make it easy for you. Login for less then 1 minute
        to input your meal. You will be able to compare your Healthy Foods vs Happy
        foods. This way you can make the movement to eat better yourself or just 
        remember what you have eaten.
    </h4>


    <h2 class="is-size-5">Also remember to NOM NOM NOM!!!!!</h2>

    {% endblock %}
</body>
</html>