{% extends 'base.html' %}
{% block content %}
<div class="">
    <h1 class="title is-1">Noms</h1>
    <hr />

    <h2 class="title is-3">Healthy Foods</h2>
    <h6>For each healthy food you have add 1 point to your total when adding a meal</h6>
        <ul>
            <li>Red Meat</li>
            <li>Fish / Chicken / Eggs</li>
            <li>Nuts / Seeds / Beans / Tofu</li>
            <li>Dairy (Milk, Yogurt)</li>
            <li>Vegetables</li>
            <li>Fruits</li>
            <li>Healthy Fats / Oils</li>
            <li>Whole Grains</li>
        </ul>
    
    <h2 class="title is-3">Happy Foods</h2>  
    <h6>For each happy food you have add 1 point to your total to compare to your healthy food total</h6>
        <ul>
            <li>Sugary Treats</li>
            <li>Salty Treats</li>
            <li>Wheat / Flour / Corn Treats</li>
            <li>Alcohol</li>
        </ul>
</div>
{% endblock %}
