{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    {% if profile.profile_pic %}
    <img src="{{profile.profile_pic.url}}" alt="{{profile.user.username}}" />
    {% endif %}
</div>
<div class="detail__name">
    
    <h1 class="title ">{{profile.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'profile_update' profile.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-2 ">Profile</h4>
        <hr />

        <h5 class="is-size-4 has-text-centered">About Me - {{profile.bio}}</h5>    

        <h5 class="is-size-4 has-text-centered">Favorite Food - {{profile.favorite_food}}</h5>

        <h5 class="is-size-4 has-text-centered">Workout Schedule - {{profile.workout_days}}</h5>

    </div>
    <div class="friend_list">
        <h3 class="title is-2">Friends</h3>
        <hr />
        {% for friend in profile.user.friends1_set.all %}
        
        <ul>
            <li class="is-size-4">{{friend}}</li>
        </ul>
        {% endfor %}
  
    </div>
</div>

{% endblock %}